.panel-content:hover .panel-actions {
    display: block;
}
.panel-actions {
    /*left:25% !important;*/
}
.panel-actions {
    position: relative;
    width: 50%;
    margin: 0 auto;
    display: none;
    right: 0px;
    left: 0px;
    display: none;
}